h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 0.9;
  letter-spacing: 3px;
}

#title:hover {
  animation: tilt-n-move-shaking 0.2s infinite;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(2deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

header {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EF233C;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  border-bottom: solid #FBF7F7 3px;
}

nav {
  width: 30%;
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  position: relative;
  margin-top: 5px;
  margin-left: 3vw;
  font-size: 1.5em;
  text-decoration: inherit;
  color: #FBF7F7;
  text-shadow:  5px 5px 8px rgba(0, 0, 0, 0.2);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FBF7F7;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

#title {
  cursor: pointer;
}

#title:hover #titleUnderline {
  width: 100%;
}

#titleUnderline {
  background-color: #FBF7F7;
  margin-left: 4px;
  width: 46%;
  height: 4px;
  transition: ease
    width 0.3s,
    transform 0.3s;
    
}

#rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2vw;
}

/* Search bar */
.input {
  margin-right: 1vw;
  width: 15vw;
  background-color: #FBF7F7;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

.input:focus {
  outline: 2px solid lightgrey;
  border-radius: 4px 4px 2px 2px;
}
