h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 0.9;
  letter-spacing: 3px;
}


header {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EF233C;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

nav {
  width: 30%;
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin-top: 5px;
  margin-left: 3vw;
  font-size: 1.5em;
  text-decoration: inherit;
  color: #FBF7F7;
}

#title {
  cursor: pointer;
}

#title:hover .underline {
  width: 100%;
}

.underline {
  background-color: #FBF7F7;
  margin-left: 4px;
  width: 46%;
  height: 4px;
  transition:
    width 0.8s,
    height 0.8s,
    transform 0.8s;
}

a:hover {
  color: #f0e9e9;
}

#rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2vw;
}


.textRed {
  color: #EF233C;
  font-weight: 700;
  cursor: pointer;
}

.textRed:hover {
  text-decoration: underline;
}
