#root {
  width: 100%;
  margin: auto;
}

#rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2vw;
}

#loopIcon {
  width: 60px;
  margin-right: 2vw;
}

.textRed {
  color: #EF233C;
  font-weight: 700;
}

#main {
  width: 90%;
  height: 85vh;
  padding-top: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#main h2 {
  margin-top: 15vh;
  margin-bottom: 0;
}

#main p {
  font-size: 1.2em;
}

#linkstartAndDiscord {
  margin-top: 10vh;
  width: 500px;
  padding-right: 5vw;
}
