#root {
  width: 100%;
  margin: auto;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 0.9;
  letter-spacing: 3px;
}

h2 {
  font-style: italic;
  font-size: 6em;
}

header {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EF233C;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

nav {
  width: 30%;
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin-top: 5px;
  margin-left: 3vw;
  font-size: 1.5em;
  text-decoration: inherit;
  color: #FBF7F7;
}

#title {
  cursor: pointer;
}

#title:hover .underline {
  width: 100%;
}

.underline {
  background-color: #FBF7F7;
  margin-left: 4px;
  width: 46%;
  height: 4px;
  transition:
    width 0.8s,
    height 0.8s,
    transform 0.8s;
}

a:hover {
  color: #f0e9e9;
}

#rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2vw;
}

#loopIcon {
  width: 40px;
  margin-right: 0.5vw;
  cursor: pointer;
}

.textRed {
  color: #EF233C;
  font-weight: 700;
}

#main {
  padding-top: 8vh;
  height: 92vh;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#main h2 {
  margin-top: 15vh;
  margin-bottom: 0;
}

#main p {
  font-size: 2em;
}

#main .imgs {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main .img {
  width: 45vh;
  transition:
    width 0.5s,
    filter 0.5s,
    transform 0.5s;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.icon {
  width: 70px;
}

#linkstartImg:hover,
#discordImg:hover {
  width: 48vh;
  filter: saturate(120%);
}

#linkstartImg {
  z-index: 1;
  margin-right: 8vw;
}

#discordImg {
  z-index: 0;
  margin-top: -10vh;
}

footer {
  width: 100%;
  padding-top: 1px;
  height: 10vh;
  text-align: center;
  background-color: #171614;
  display: flex;
  justify-content: center;
}